
ul {	
color: red;
font-size: 150%;
}

p1 {
	color: blue;
	font-family: 'Roboto', sans-serif;
	font-size: 80%;
}

#shabbah {
	color: purple;
	font-size: 170%;
}

*{font-family: 'Shrikhand', cursive;}
